.hero{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Poppins', sans-serif;
    padding: 0rem 4rem;
    background-color: #fff2e1;
    border-bottom-right-radius: 50% 20%;
    border-bottom-left-radius: 50% 20%;
    overflow: hidden;
}
.hero-text h1{
    padding-top: 4rem;
    font-size: 3rem;
    font-weight: 700;
    color: #2F327D;
}
.hero-text p{
    font-size: 1rem;
    width: 70%;
}
.hero-img {
    text-align: center;
    height: 100%;
    position: relative;
}
.hero-btn {
    display: flex;
    align-items: center;
}
#hero-main{
    width: 70%;
}
#hero-1{
    position: absolute;
    top: 50%;
    left: 60%;
    width: 15rem;
}
#hero-2{
    position: absolute;
    top: 10%;
    left: 60%;
    width: 7rem;
}
#hero-3{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 12rem;
}
#hero-4{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 15rem;
}
#hero-1:hover, #hero-2:hover, #hero-3:hover, #hero-4:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1.1);
}
.hero-btn button {
    background-color: #F48C06;
    padding: 1rem 2rem;
    border-radius: 20px;
    outline: 0;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
}
.hero-btn button:hover {
    background-color: white;
    color: #F48C06;
}
.hero-btn button:active{
    opacity: 0.5;
}
.hero-btn img {
    width: 100px;
    transform: translateX(20px) translateY(10px);
    cursor: pointer;
}
.hero-btn img:active {
    opacity: 0.5;
}

.companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.companies h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #8c8c97;
}
.com-elements img {
    width: 125px;
    padding: 2% 5%;
    cursor: pointer;
}
.com-elements{
    display: flex;
    justify-content: center;
    align-items: center;
}
.com-elements img:hover{
    transform: scale(1.2);
    transition-duration: 0.4s;

}


@media screen and (max-width: 768px) {
    .hero{
        grid-template-columns: auto;
        padding: 0px 20px;
    }
    .hero-text h1{
        padding-top: 10px;
        font-size: 3rem;
    }
    .hero-text p{
        width: 100%;
    }
    .com-elements{
        display: grid;
        grid-template-columns: auto auto;
    }
    .com-elements img {
        padding: 3%;
        width: 60%;
        transform: translateX(25%);
    }
    .com-elements img:hover{
        transform: translateX(25%) scale(1.2);
    }
    #hero-main{
        width: 100%;
        transform: translateY(10px);
    }
    #hero-1{
        width: 10rem;
    }
    #hero-2{
        width: 6rem;
    }
    #hero-3{
        width: 10rem;
    }
    #hero-4{
        width: 12rem;
    }
    .companies{
        text-align: center;
    }   
}